body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1F2B1A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 30px;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.running-text-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

marquee {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
}

.running-text-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

marquee {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
}


